<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioSocial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioSocial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="Server=localhost;Database=ServicioSocial;User Id=Muterk;Password=Radiohead05" name="SqlConnection"/>
    <add connectionString="Server=localhost;Database=ServicioSocial;User Id=UserTest01;Password=userpassword01;" name="ConnectionToSQL"/>
  </connectionStrings>
  <userSettings>
    <ServicioSocial.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserType" serializeAs="String">
        <value />
      </setting>
      <setting name="UserID" serializeAs="String">
        <value />
      </setting>
    </ServicioSocial.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ServicioSocial.Properties.Settings>
      <setting name="CurrenEmailAddress" serializeAs="String">
        <value>@estudiantes.uv.mx</value>
      </setting>
    </ServicioSocial.Properties.Settings>
  </applicationSettings>
</configuration>